<footer layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <p>Built by Diana Nicula. Coffee data from: <a href="http://www.ico.org/" target="_blank">ICO</a></p>
</footer>
