<aimia-header></aimia-header>
<md-content class="md-padding" layout-xs="column" layout="row">
  <div layout="column" role="main" flex="" class="layout-column flex">
    <aimia-intro></aimia-intro>
    <aimia-charts></aimia-charts>
  </div>
</md-content>
<aimia-footer></aimia-footer>
